/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
*/

/* Path: css/style.css */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Create box where we are going to include the text and the QR code image images/image-qr-code.png */
/* Import fonts and styles */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");


body {
  background-color: hsl(0, 0%, 95%);
  color: hsl(218, 44%, 22%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center; /* Horizontally center children */
  align-items: center; /* Vertically center children */
  padding-bottom: 300px;
  display: flex;
  
}

h1,
h2,
h3 {
  font-weight: 600;
  font-size: 22px;
  font-style: bold;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}


h4,
h5,
h6 {
  font-weight: 700;
}
p {
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;

}


/* Style for the QR code container */
.qr-code__container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 0px 35px 50px -15px hsla(0, 0%, 0%, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: auto;
  box-sizing: 200px;
  border: 1px solid hsl(220, 15%, 55%);
  margin: 0; /* This will center the container in the viewport */
  position: relative; /* Adjust if needed for positioning context */
  padding: 20px; /* Adjust the padding as needed */
}

.qr-code__container h3,
.qr-code__container p {
  text-align: center; /* Center the text */
  padding: 0 20px; /* Add padding on the sides if needed */
}




/* Style for the QR code image, should be within the qr code container */
.qr-code {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* Style for the text footer */
.footer {
  position: absolute; /* Absolute position to place it at the bottom */
  bottom: 0px; /* Adjust the value as needed to create space from the bottom */
  width: 100%;
  text-align: center;

}